<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Basic Project-Help Page</title>
</head>
<body>
	<h1>Help Page</h1>
	<h3>F.A.Q.</h3>
	<ul>
		<li>
			<div class="faq">
				<span><strong>Q. Question 1</strong></span>
				<span>Ans: Answer 1</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 2</strong></span>
				<span>Ans: Answer 2</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 3</strong></span>
				<span>Ans: Answer 3</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 4</strong></span>
				<span>Ans: Answer 4</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 5</strong></span>
				<span>Ans: Answer 5</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 6</strong></span>
				<span>Ans: Answer 6</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 7</strong></span>
				<span>Ans: Answer 7</span>
			</div>
		</li>
		<li>
			<div class="faq">
				<span><strong>Q. Question 8</strong></span>
				<span>Ans: Answer 8</span>
			</div>
		</li>
	</ul>

	<div id="contact-form">
		<h2>Contact form for {{ base_page }}</h2>
		
		<label for="name">Enter your Name: </label>
		<input type="text" name="name">

		<label for="email">Enter your Email: </label>
		<input type="email" name="email">

		<label for="problem">Enter your problem: </label>
		<input type="text" name="problem">
	</div>
</body>
</html>