<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static "css/logosStyles.css" %}">
	<title>MKKB Logos</title>
</head>
<body>
	<h1>Mon Khule Kotha Bolo Logos</h1>	
	<h3>Chess Tournament</h3>
	<ul>
		<li>
			<label for="BaalVeers">BaalVeers</label>
			<img name="BaalVeers" src="{% static "images/BaalVeers.jpeg" %}" alt="BaalVeers">			
		</li>
		<li>
			<label for="BarcaBombs">BarcaBombs</label>
			<img name="BarcaBombs" src="{% static "images/BarcaBombs.jpeg" %}" alt="BarcaBombs">
		</li>
		<li>
			<label for="BarrackporeBlasters">BarrackporeBlasters</label>
			<img name="BarrackporeBlasters" src="{% static "images/BarrackporeBlasters.jpeg" %}" alt="BarrackporeBlasters">
		</li>
		<li>
			<label for="DokkhinKolkataOtaku">DokkhinKolkataOtaku</label>
			<img name="DokkhinKolkataOtaku" src="{% static "images/DokkhinKolkataOtaku.jpeg" %}" alt="DokkhinKolkataOtaku">
		</li>
		<li>
			<label for="NamelessDuo">NamelessDuo</label>
			<img name="NamelessDuo" src="{% static "images/NamelessDuo.jpeg" %}" alt="NamelessDuo">
		</li>
	</ul>
</body>
</html>